/* Universal style */
*{
    font-family: DOS, Courier, "Courier New", monospace;
    color: #271d6b;
    font-weight: 550;
}

body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a{
	text-decoration: none;
}

/* Header */
.header-logo{
    padding: 5px 20px;
}

.fa-regular{
    font-size: 23px;
    border: solid 1px;
    border-radius: 50%;
    padding: 5px
}

.fa-hand-back-fist{
    background-color: #F2E34C;
}

.fa-hand{
    background-color: #56DDD2;
}

.fa-hand-scissors{
    background-color: #f3c6f2;
}

#header{
    background-color: rgb(228, 219, 238);
	display: flex;
    justify-content: space-between;
}

/* FOOTER */
#footer{
    font-size: small;
    font-weight: bolder;
    background-color: rgb(228, 219, 238);
    padding: 10px 0;
    display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
}

/* BODY */
.body-container{
    background: linear-gradient(to right, #552ffd, #602be9, #8039f3);
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

/* ANNOUNCEMENT SCREEN */
#game-announcement{
    height: 70px;
    width: 950px;
    background-color: #ffffff;
    margin-bottom: 50px;
    padding: 10px;
    border: solid 3px #a0a0a0;
    border-radius: 20px;
    font-size: 65px;
    text-align: center;
}

/* GAME SCREEN */
.game-screen{
    height: 500px;
    width: 1000px;
    min-width: 800px;
    background-color: #ffffff;
    border: solid 5px #a0a0a0;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

.player-side{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    flex: 1;
    align-items: flex-start;
}

.computer-side{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    flex: 1;
    align-items: flex-end;
}

#player-score{
    width: 10px;
    background-color: rgb(228, 219, 238);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#computer-score{
    width: 10px;
    background-color: rgb(228, 219, 238);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#player-display{
    font-size: 300px;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#computer-display{
    font-size: 300px;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Player buttons */
.player-moves{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 100px;
    width: 200px;
    margin: 50px;
    border-radius: 20px;
}

#resetBtn{
    height: 30px;
    width: 30px;
    margin: 10px 20px 10px 0px;
}

#rockBtn{
    background-color: #26d026;
}

#paperBtn{
    background-color: #cc5500;
}

#scissorsBtn{
    background-color: #ffff00;
}





